<div class="col-lg-8">
<h1 class="h1-strong">{{title}}
<button class="btn btn-success pull-right" (click)="refresh($event)" *ngIf="!noMore">
			Mostrar nuevas
		</button>
</h1>

<div id="publications">
	<div *ngFor="let publication of publications" class="item-publication">
		<div class="panel panel-default">
			<div class="panel-body">

	
							<div class="image-user pull-left">
								
									<a href="#">
									
							

								<img src="{{ url +'get-image-user/' + publication.user.image}} "*ngIf="publication.user.image"/>

								<img src="assets/user.png" class="avatar-default"*ngIf="!publication.user.image"/>

						

								
									</a>
								</div>
				

				<div>
			
			
					<a [routerLink]="['/perfil',publication.user._id]"class="user-name">
					{{publication.user.name + ' ' + publication.user.surname}}

					</a>

					&nbsp;|&nbsp;
					<span class="date">
					{{ (publication.created_at2 | amFromUnix) | amLocale: 'es' | amTimeAgo}} 
				<!--	{{ publication.created_at | amLocale: 'es'|   amTimeAgo}}-->
	              
					</span>  
					
				</div>

				<br><br><br>
			

				<!--
		<h4 class="publication-text pull-left">
					Peso: {{publication.peso }} Kg<br/>
					Altura: {{publication.altura }} Cm<br/>
					Imc: {{publication.imc}} %<br/>
					Metabolismo Basal: {{publication.mbasal}} Kcal<br/>
					Calorías para mantener el peso: {{publication.tmb}} Kcal

				

				</h4>
			-->
			

				<div class="pull-right"*ngIf="publication.user._id == identity._id">
						&nbsp;
					<!-- Button HTML (to Trigger Modal) -->
					<a href="#myModal{{publication._id}}" class="btn btn-large btn-danger"
					 data-toggle="modal"*ngIf="showImage!=publication._id">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
					    
					<!-- Modal HTML -->
					<div id="myModal{{publication._id}}" class="modal fade">
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					                <h5 class="modal-title">¿Estas Seguro que  quieres eliminar la publicacion?</h5>
					                <button type="button" class="close" data-dismiss="modal">&times;</button>
					            </div>
					            <div class="modal-body">
					                <p>Si la borras no podras recuperarla</p>
					             <p>{{publication.peso}}</p>
					            </div>
					            <div class="modal-footer">
					                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					                <button type="button" class="btn btn-primary"(click)="deletePublication(publication._id)"data-dismiss="modal">Borrar la publicacion</button>
					            </div>
					        </div>
					    </div>
					</div>

				</div>

<table class="table pull-left">
								  <thead>
								    <tr>
								      <th scope="col">peso (KG)</th>
								      <th scope="col">altura(Cm) </th>
								      <th scope="col">IMC %</th>
								      <th scope="col">TMB Kcal</th>
								     
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								     
								<td>{{publication.peso }}</td>
								   <td>{{publication.altura }}</td>
								 <td>{{publication.imc}}</td>
								<td>{{publication.tmb}}</td>
								
								    </tr>
								
								    
								  </tbody>
								</table>

				<div class="pull-right"*ngIf="publication.file != 'null'&& publication.filev == 'null'
|| publication.file == 'null'&& publication.filev != 'null'|| publication.file != 'null'
				">
					<button class="btn btn-warning pull-right"(click)="showThisImage(publication._id)" 
					*ngIf="showImage!=publication._id">
						<span class="glyphicon glyphicon-picture"></span>
					</button>

				

					<button class="btn btn-danger pull-right"(click)="hideThisImage(publication._id)" 
					*ngIf="showImage==publication._id">
						<span class="glyphicon glyphicon-remove-circle"></span>
					</button>
				</div>
				<div class="col-lg-12" *ngIf="publication.file !='null' && publication.filev =='null' && showImage==publication._id ||publication.filev !='null' && publication.file=='null'&& showImage==publication._id ">
					
						<br/>
						<img *ngIf="publication.file !='null' && publication.filev =='null'" src="{{url+'get-image-exe/'+publication.file}}"class="col-lg-12" />
						<video  *ngIf="publication.filev !='null'&& publication.file =='null'" width="450" height="240" autoplay controls loop  >
						<source src="{{url+'get-image-exe/'+publication.filev}}" type="video/mp4">

						</video>
	
				</div>





			</div>
		</div>
	</div>
</div>

<div class="col-lg-12 text-center"*ngIf="publications && publications.length">
	<p>
		<button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
			Ver mas publicaciones
		</button>
	</p> 
</div>
 


</div>
<!-- output vamos a enviar una variables desde el sidebar 
al componente padre que seria timeline
Luego del timeline le voy a pasar al otro  componente publication algun valor
-->
<!--
<sidebar (sended)="refresh($event)"></sidebar>
-->
<imc (sended)="refresh($event)"></imc>
<div class="clearfix"></div>
