

<div class="col-lg-4 sidebar-32">
<h1 class="h1-strong">Mis Datos {{title}}</h1>
</div>
<div id="user-card" class="col-lg-4 panel panel-default pull-left">
<div class="avatar pull-left">
	<!-- url + metodo que devuelve la imagen + concatenar el nombre de la imagen del usuario  -->
<img src="{{ url + 'get-image-user/' + identity.image }}" *ngIf="identity.image"/>
<img src="assets/user.png" *ngIf="!identity.image"/>
</div>

<div class="name-surname pull-left">
		<a [routerLink]="['/perfil',identity._id]"class="username"> 
	{{identity.name + ' '+ identity.surname}}
	</a>
	<p class="nickname">{{identity.nick}}</p>
	<div class="clearfix"></div>
</div>
<!-- se limpie los flotados-->

<!-- se limpie los flotados-->
<div class="clearfix"></div>
<div class="stats" *ngIf="stats">
	<div class="following-data">
<a [routerLink]="['/siguiendo',identity._id,1]"> 
			<span class="label-stats">
				<!--Siguiendo-->
				Mensaje
			</span>
			<!--
			<span class="number-stats">
				{{stats.following}}
			</span>
		-->
		</a>
	</div>

	<div class="following-data">
	<a [routerLink]="['/seguidores',identity._id,1]"> 
			<span class="label-stats">
				<!--Seguidores-->
				Imc

			</span>
<!--
			<span class="number-stats">
				{{stats.followed}}
			</span>
		-->
		</a>
	</div>

	<div class="following-data">
<a [routerLink]="['/perfil',identity._id]"> 
			<span class="label-stats">
				Publicaciones
			</span>
			<!--
			<span class="number-stats">
				{{stats.publications}}
			</span>
		-->
		</a>
	</div>
</div>


</div>
<!-- formulario de publicaciones -->




<!-- formulario de publicaciones -->


<div id ="new-publication" class="col-lg-4 pull-left panel panel-default ">
<div class="alert alert-success" *ngIf="status=='success'">
	Publicacion enviada correctamente
</div>
<div class="alert alert-danger" *ngIf="status=='error'">
	Publicacion no enviada
</div>

	<form #newPubForm="ngForm"(ngSubmit)="onSubmit(newPubForm,$event);" class="col-lg-10">
<p>
		<label>PESO KG</label>
		<textarea name="text" #text="ngModel"[(ngModel)]="imc.peso" class="form-control" required></textarea>
		<span *ngIf="!text.valid && text.touched">
			El texto de la publicacion es obligatorio
		</span>
	</p> 

	<p>
		<label>ALTURA Cm</label>
		<textarea name="text" #text="ngModel"[(ngModel)]="imc.altura" class="form-control" required></textarea>
		<span *ngIf="!text.valid && text.touched">
			El texto de la publicacion es obligatorio
		</span>
	</p>



<p>
<label>Nivel de actividad</label>
<!--
<input type="text" name="role" #role="ngModel" [(ngModel)]="user.role" class=
"form-control" required/>-->

<select name="select" #actividad="ngModel" [(ngModel)]="imc.actividad" class=
"form-control" required >
  <option value=1.2>Sedentario</option>
  <option value=1.375 >Actividad Ligera</option>
  <option value=1.55 >Actividad Moderada</option>
  <option value=1.725 >Actividad Intensa</option>
  <option value=1.9 >Actividad muy Intensa</option>
</select>
  <!--selected-->
			<span *ngIf="!actividad.valid && actividad.touched">
			El campo actividad  es obligatorio!!
			</span> 
		</p>

<!--
	<p>
		<label>IMC category</label>
		<textarea name="text" #text="ngModel"[(ngModel)]="imc.imc" class="form-control" required></textarea>
		<span *ngIf="!text.valid && text.touched">
			El texto de la publicacion es obligatorio
		</span>
	</p>
	
	<p>
		<label>TMB</label>
		<textarea name="text" #text="ngModel"[(ngModel)]="imc.tmb" class="form-control" required></textarea>
		<span *ngIf="!text.valid && text.touched">
			El texto de la publicacion es obligatorio
		</span>
	</p>
-->


	<p>
		<label>Sube tu foto</label>
		<!-- fileInput es para darle un id y poder resetear el subir imagen-->
		<input #fileInput type="file" placeholder="subir imagen"(change)="fileChangeEvent($event)"/>
	</p>

	<input type="submit" value="Enviar" class="btn btn-success"[disabled]="!newPubForm.form.valid"/>
	</form>	
</div>
 